
a:hover {
    text-decoration: none;
    color: unset;
}

a {
    color: unset;
}

i.fas, i.fa, .i.far {
    vertical-align: middle;
}

.dir-r {
    direction: rtl
}


@font-face {
    font-family: 'iransansweb';
    src: url('fonts/IRANSansWeb.eot') format('eot'),
    url('fonts/IRANSansWeb.woff') format('woff'),
    url('fonts/IRANSansWeb.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


body {
    padding: 0;
    background-color: #f3f3f3;
    margin: 0;
    height: 100%;
    color: #635f5f;
    font-family: 'iransansweb';
}

@media (max-width: 575.98px) {
   /* #box-main {
        width: 95%;
        margin: 30px auto;
        background-color: #ffffff;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        box-shadow: 0 0 5px 1px #e4e4e4;
    }*/
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}


#box-main {
    width: 88%;
    margin: 30px auto;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 0 5px 1px #e4e4e4;
}