
a:hover {
    text-decoration: none;
    color: unset;
}

a {
    color: unset;
}

i.fas, i.fa, .i.far {
    vertical-align: middle;
}

.dir-r {
    direction: rtl
}


@font-face {
    font-family: 'iransansweb';
    src: url('fonts/IRANSansWeb.eot') format('eot'),
    url('fonts/IRANSansWeb.woff') format('woff'),
    url('fonts/IRANSansWeb.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


body {
    padding: 0;
    background-color: #f3f3f3;
    margin: 0;
    height: 100%;
    color: #635f5f;
    font-family: 'iransansweb';
}


/* small */
@media (max-width: 767.98px) {


}

.box-main {
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 0 5px 1px #e4e4e4;
}


#table-main {
    direction: rtl;
    border: 1px solid #efefef;
    box-shadow: 0 1px 4px 1px #e1e1e1;
}

#table-main th, td {
    text-align: center;
    vertical-align: middle;
}

#table-main th, td * {
    vertical-align: middle;
}

#table-main td:last-child {
    color: #494949;
    cursor: default;
}

#table-main td:last-child i {
    cursor: pointer;
}


#table-main tr:nth-child(odd) {
    background-color: rgba(152, 191, 255, 0.15);
}

#table-main tr:nth-child(odd):not(:first-child):hover {
    background-color: #ced9ef;
}


#table-main tr:nth-child(even) {
    background-color: #fbfbfb;
}

#table-main tr:nth-child(even):hover {
    background-color: #efefef;
}


#table-main tr:first-child {
    background-color: #457bd6;
    color: #ffffff;
}

#action-result {
    text-align: center;
}
#action-result img {
    width: 42%;
}

#form-add {
    display: none;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px #dfdfdf;
}